/* global style */

.fancy {
    padding: 0 5rem;
    margin: 0;
}

.navbar {
    background-color: white;
    padding: 0.5rem 0 0 0 !important;
}

#main {
    background-color: white;
}

.navbar .navigation1,
.navbar .navigation2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem 2rem;
}

.navbar .navigation1:hover {
    border: 2px solid #ff3992;
    border-radius: 2rem;
}

.navbar .navigation2:hover {
    border: 2px solid #ce2eff;
    border-radius: 2rem;
}

.navbar .far {
    color: #ce2eff !important;
}

.container-fluid .logo {
    font-family: 'Limelight', cursive;
    font-size: 2.3rem;
    padding: 0 !important;
    padding-left: 0.2rem !important;
}


/* main style */

.navbar-nav .nav-item {
    padding: 0.1rem 1rem;
    margin: auto;
}

.container-fluid {
    padding: 0 2rem;
}

.main-text {
    padding: 0;
}

.main-text h1,
.main-text .subtitle {
    text-align: left;
    margin: auto;
    padding: 0;
    text-align: center;
}

.main-text h1 {
    font-size: calc(2.6rem + 2vw);
    padding: 0 0 2rem 0;
}

.main-text .subtitle {
    font-size: 3rem;
    padding: 0 !important;
}

.main-img {
    width: 100%;
    padding: 0;
}

.side-2 {
    padding: 0 !important;
}

.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 0 0 0 1rem;
}


/* coloring letters */

.fancy1 {
    font-family: 'Fascinate', cursive;
    padding: -1rem;
    font-size: calc(4rem + 2vw);
}

.fancy2 {
    font-family: 'Monoton', cursive;
}

.t1 {
    color: #ff8080;
}

.t2 {
    color: #ffb962;
}

.t3 {
    color: #faff67;
}

.t4 {
    color: #80ff67;
}

.t5 {
    color: #56f1ff;
}

.t6 {
    color: #ff5dff;
}

.t7 {
    color: #7b64ff;
}

.t8 {
    color: #619eff;
}

.t9 {
    color: #62f2ff;
}

.t10 {
    color: #79ff5e;
}

.t11 {
    color: #faff66;
}

.t12 {
    color: #ffb356;
}

.t13 {
    color: #ff5a5a;
}

.t14 {
    color: #775fff;
}

.f1 {
    color: #ce2eff;
}

.f2 {
    color: #ff3992;
}